.version.dirty_rotten_scoundrels /* version checker */
{
	color: #0000FD;
	background-color: #CDB912;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1685.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#u260
{
	z-index: 2;
	min-height: 56px;
	padding-bottom: 42px;
}

#u260_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu1816
{
	z-index: 3;
	width: 101px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 100px;
}

#u1817
{
	width: 101px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1820
{
	width: 101px;
	padding-bottom: 1px;
}

#u1820:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1820:active
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1820.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1821-4
{
	width: 101px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1820:hover #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u1820:active #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u1820.MuseMenuActive #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#menuu1912
{
	z-index: 10;
	width: 491px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 569px;
}

#u1930
{
	width: 162px;
}

#u1927,#u1933-4
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1930:hover #u1933-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1930:active #u1933-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1913
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
	left: 164px;
}

#u1916
{
	width: 162px;
}

#u1930.MuseMenuActive,#u1916.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1918-4
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1930.MuseMenuActive #u1933-4,#u1916:hover #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1916:active #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1916.MuseMenuActive #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1920
{
	width: 163px;
	min-height: 19px;
	margin-right: -10000px;
	left: 328px;
}

#u1921
{
	width: 163px;
}

#u1921:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1921:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1921.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1924-4
{
	width: 163px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1921:hover #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u1921:active #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u1921.MuseMenuActive #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u260-bw
{
	z-index: 2;
	min-height: 56px;
}

#u2321-4
{
	z-index: 29;
	min-height: 45px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u2321
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u2321-4-bw
{
	z-index: 29;
	min-height: 45px;
	margin-top: 29px;
}

#u2323-4
{
	z-index: 37;
	min-height: 45px;
	background-color: transparent;
	font-size: 37px;
	text-align: center;
	line-height: 44px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u2323-4-bw
{
	z-index: 37;
	min-height: 45px;
	margin-top: 10px;
}

#u2325
{
	z-index: 45;
	width: 920px;
	min-height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#u2322-4
{
	z-index: 33;
	min-height: 27px;
	background-color: transparent;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u2322-4-bw
{
	z-index: 33;
	min-height: 27px;
	margin-top: 18px;
}

#pu2324-4
{
	width: 0.01px;
	margin-left: 20px;
}

#u2324-4
{
	z-index: 41;
	width: 920px;
	min-height: 42px;
	background-color: transparent;
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u2982
{
	z-index: 122;
	width: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#u2984
{
	z-index: 123;
	width: 46px;
	height: 46px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u2983-4
{
	z-index: 124;
	width: 47px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

.js #u2984.ose_pre_init,.js #u2983-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#slideshowu2547
{
	z-index: 46;
	width: 0.01px;
	height: 83px;
	margin-left: 19px;
	margin-top: 13px;
	position: relative;
}

#u2565
{
	position: absolute;
	width: 921px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 68px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2565popup
{
	z-index: 47;
}

#u2570
{
	z-index: 48;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2570_img
{
	padding-left: 309px;
	padding-right: 309px;
}

#u2634
{
	z-index: 50;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2634_img
{
	padding-left: 29px;
	padding-right: 29px;
}

#u2649
{
	z-index: 52;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2664
{
	z-index: 54;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2664_img
{
	padding-left: 285px;
	padding-right: 285px;
}

#u2679
{
	z-index: 56;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2694
{
	z-index: 58;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2709
{
	z-index: 60;
	width: 877px;
	height: 461px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2649_img,#u2679_img,#u2694_img,#u2709_img
{
	padding-left: 93px;
	padding-right: 93px;
}

#u2548
{
	position: absolute;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
}

#u2548popup
{
	z-index: 62;
}

#u2549
{
	z-index: 63;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 80px;
}

#u2637
{
	z-index: 65;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 190px;
}

#u2652
{
	z-index: 67;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 300px;
}

#u2667
{
	z-index: 69;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 410px;
}

#u2682
{
	z-index: 71;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 520px;
}

#u2697
{
	z-index: 73;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 630px;
}

#u2712
{
	z-index: 75;
	width: 100px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 740px;
}

#u2549:hover,#u2637:hover,#u2652:hover,#u2667:hover,#u2682:hover,#u2697:hover,#u2712:hover
{
	width: 100px;
	height: 75px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u2652_clip,#u2682_clip,#u2697_clip,#u2712_clip
{
	overflow: hidden;
	width: 100px;
	height: 75px;
}

#u2652_img,#u2682_img,#u2697_img,#u2712_img
{
	margin-left: -6px;
	margin-right: -7px;
}

#u2555
{
	position: absolute;
	width: 810px;
	background-color: transparent;
	top: 560px;
	left: 55px;
}

#u2555popup
{
	z-index: 77;
}

#u2558-4
{
	z-index: 78;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2640-4
{
	z-index: 82;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2655-4
{
	z-index: 86;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2670-4
{
	z-index: 90;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2685-4
{
	z-index: 94;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2700-4
{
	z-index: 98;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2715-4
{
	z-index: 102;
	width: 810px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u2560-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	top: 561px;
	left: 22px;
}

#u2560-4popup
{
	z-index: 106;
}

#u2564-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	top: 560px;
	left: 868px;
}

#u2564-4popup
{
	z-index: 110;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2778-7
{
	z-index: 114;
	width: 920px;
	min-height: 42px;
	background-color: transparent;
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u2779
{
	z-index: 121;
	width: 920px;
	min-height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

.js #u2322-4.ose_pre_init,.js #u2324-4.ose_pre_init,.js #u2548.ose_pre_init,.js #u2778-7.ose_pre_init,.js #u2779.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 30px;
}

#page .verticalspacer
{
	clear: both;
}

