.version.index /* version checker */
{
	color: #00001D;
	background-color: #D6187E;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu1222
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	padding-bottom: 937px;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u1239
{
	position: absolute;
	width: 1160px;
	height: 937px;
	background-color: transparent;
}

#u1239popup
{
	z-index: 3;
}

#u1240
{
	z-index: 4;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1465
{
	z-index: 6;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1474
{
	z-index: 8;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1483
{
	z-index: 10;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1492
{
	z-index: 12;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1501
{
	z-index: 14;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1510
{
	z-index: 16;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1519
{
	z-index: 18;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1528
{
	z-index: 20;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1537
{
	z-index: 22;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1546
{
	z-index: 24;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1555
{
	z-index: 26;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1564
{
	z-index: 28;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1573
{
	z-index: 30;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1582
{
	z-index: 32;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1591
{
	z-index: 34;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1600
{
	z-index: 36;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1609
{
	z-index: 38;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1618
{
	z-index: 40;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1627
{
	z-index: 42;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1636
{
	z-index: 44;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1645
{
	z-index: 46;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1654
{
	z-index: 48;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1663
{
	z-index: 50;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1672
{
	z-index: 52;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1681
{
	z-index: 54;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1690
{
	z-index: 56;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1699
{
	z-index: 58;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1708
{
	z-index: 60;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1717
{
	z-index: 62;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1726
{
	z-index: 64;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1735
{
	z-index: 66;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1744
{
	z-index: 68;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1753
{
	z-index: 70;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1762
{
	z-index: 72;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1771
{
	z-index: 74;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1780
{
	z-index: 76;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1789
{
	z-index: 78;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1798
{
	z-index: 80;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1807
{
	z-index: 82;
	width: 1160px;
	height: 937px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1230-9
{
	width: 25px;
	min-height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	line-height: 50px;
	color: #999999;
	font-size: 36px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u1230-9:hover
{
	background-color: #000000;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 561px;
	width: 25px;
	margin: 0px;
}

#u1230-9:active
{
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 561px;
	width: 25px;
	margin: 0px;
}

#u1230-9popup
{
	z-index: 84;
}

#u1230-9:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1246-9
{
	width: 25px;
	min-height: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	line-height: 50px;
	color: #999999;
	font-size: 36px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 0px;
	right: 0px;
}

#u1246-9:hover
{
	background-color: #000000;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 551px;
	width: 25px;
	margin: 0px;
}

#u1246-9:active
{
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 551px;
	width: 25px;
	margin: 0px;
}

#u1246-9popup
{
	z-index: 93;
}

#u1230-9:active p,#u1246-9:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1825
{
	z-index: 102;
	min-height: 56px;
	background-color: transparent;
	padding-bottom: 32px;
}

#u1825:hover
{
	background-color: #000000;
	min-height: 56px;
	margin: 0px;
}

#u1825_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#menuu465
{
	z-index: 103;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 145px;
}

#u466
{
	width: 101px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u469
{
	width: 101px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
}

#u469.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u470-4
{
	width: 101px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u469:hover #u470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u469:active #u470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u469.MuseMenuActive #u470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u469:hover #u470-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u469:active #u470-4 p
{
	color: #D2993B;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu473
{
	z-index: 110;
	width: 491px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 569px;
}

#u1881
{
	width: 162px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1886-4
{
	width: 162px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1884:hover #u1886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1884:active #u1886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1884:hover #u1886-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u1884:active #u1886-4 p
{
	color: #D2993B;
	visibility: inherit;
}

#u481
{
	width: 162px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u1884,#u484
{
	width: 162px;
	background-color: transparent;
	position: relative;
}

#u486-4
{
	width: 162px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1884.MuseMenuActive #u1886-4,#u484:hover #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u484:active #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u484.MuseMenuActive #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u484:hover #u486-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u484:active #u486-4 p
{
	color: #D2993B;
	visibility: inherit;
}

#u495
{
	width: 163px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u496
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u496:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u496:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u499-4
{
	width: 163px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u496:active #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u496.MuseMenuActive #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u496:hover #u499-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u496:active #u499-4 p
{
	color: #D2993B;
	visibility: inherit;
}

#u1246-9:active p,#u469.MuseMenuActive #u470-4 p,#u1884.MuseMenuActive #u1886-4 p,#u484.MuseMenuActive #u486-4 p,#u496.MuseMenuActive #u499-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1825-bw
{
	z-index: 102;
	min-height: 56px;
	margin-top: -36px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

