.version.junior_high /* version checker */
{
	color: #0000F0;
	background-color: #FC934C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.99999999999994px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 438px;
	width: 0.01px;
}

#u260
{
	z-index: 2;
	min-height: 56px;
	padding-bottom: 42px;
}

#u260_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu1816
{
	z-index: 3;
	width: 101px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 100px;
}

#u1817
{
	width: 101px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1820
{
	width: 101px;
	padding-bottom: 1px;
}

#u1820:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1820:active
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1820.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u1821-4
{
	width: 101px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1820:hover #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u1820:active #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u1820.MuseMenuActive #u1821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#menuu1912
{
	z-index: 10;
	width: 491px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 569px;
}

#u1930
{
	width: 162px;
}

#u1927,#u1933-4
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1930:hover #u1933-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1930:active #u1933-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1913
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
	left: 164px;
}

#u1916
{
	width: 162px;
}

#u1930.MuseMenuActive,#u1916.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1918-4
{
	width: 162px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1930.MuseMenuActive #u1933-4,#u1916:hover #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1916:active #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1916.MuseMenuActive #u1918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#u1920
{
	width: 163px;
	min-height: 19px;
	margin-right: -10000px;
	left: 328px;
}

#u1921
{
	width: 163px;
}

#u1921:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1921:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1921.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1924-4
{
	width: 163px;
	min-height: 19px;
	margin-right: -10000px;
}

#u1921:hover #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u1921:active #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u1921.MuseMenuActive #u1924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 163px;
	margin: 0px -10000px 0px 0px;
}

#u260-bw
{
	z-index: 2;
	min-height: 56px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

